In [4]:
#Addition of 2 numbers
n1=int(input("enter 1st number:"))
n2=int(input("enter 2nd number:"))
n3=n1+n2
print(n3)

46

In [5]:
n=input("enter 1st word:")
m=input("enter 2nd word")
o=n+m
[print(o)]

pyspiders

[None]

In [6]:
l='vamsi'
l[4::-1]

'ismav'

In [7]:
n=int(input("enter a year"))
if n%4==0:
    print("it is a leap year")
else:
    print("not a leap year")

it is a leap year

In [8]:
l1=[1,2,4,3,8,7,6,8]
has_dup=False
for i in range(len(l1)):
    for j in range(i+1,len(l1)):
        if l1[i]==l1[j]:
            has_dup=True
            break
print(has_dup)

True

In [9]:
l="vamsi"
l[0:3]

'vam'

In [10]:
l=[1,2,3,4]
l+='pyspiders'
l

[1, 2, 3, 4, 'p', 'y', 's', 'p', 'i', 'd', 'e', 'r', 's']

In [13]:
n=78
print(n%2==0 and n>=40 and n<=70)

False

In [4]:
word=input("enter a word:")
all_caps = all(char.islower() for char in word)

print(all_caps)

False

In [2]:
y=['a','b']#concat new value at ending
y+=['c','d']
y

['a', 'b', 'c', 'd']

In [3]:
t=[10,20,30]#adding new value at specific position
t[4:4]=[40,50]
t

[10, 20, 30, 40, 50]

In [12]:
t=[10,20,30,40] #adding new val at middle
t[len(t)//2]=['a','b']
t

[10, 20, ['a', 'b'], 40]

In [16]:
d={'a':120}#adding new key and value
d['b']=340

{'a': 120, 'b': 340}

In [18]:
d={'a':12,'b':15,'c':17,}
del d['b']#deletion of dict
d

{'a': 12, 'c': 17}

In [20]:
x={10:12,15:17,19:21}#modification of dict
x[10]=14
x

{10: 14, 15: 17, 19: 21}

In [27]:
l=[10,23,34,45,89]#type casting list and tuple
t=(1,2,3,4,5)
s=tuple(l)+t 
s

(10, 23, 34, 45, 89, 1, 2, 3, 4, 5)

In [28]:
n=34 #number should divisible by 3
print(n%3==0)

False

In [29]:
n=23 #number should divisible by 2 and 6
print(n%2==0 and n%6==0)

False

In [30]:
m=29#last digit divisible by 3
((m%10)%3)==0

True

In [31]:
n=2024
(int(str(n)[-1]))%3==0

False

In [32]:
n=120
print(n>150)

False

In [33]:
n=169
print(n>=100)

True

In [34]:
n=67
print(n>15 and n<24)

False

In [35]:
n=78#even program
n%2==0

True

In [36]:
n=23
n%2==1

True

In [38]:
n=345
n%3==0 and n>22

True

In [41]:
s='Apple'#to check ascii value of a str and should divisible by 5 or not
ord(s[-1])
print(ord(s[-1])%5==0)

False

In [46]:
n=129
print((60<=n<=130)and n%3==0 and n%4==0 and n%10>9)

False

In [54]:
n=128
print(60<=n<=130) and n%3==0 and n%4==0 and n%10<9

True

In [55]:
n=65
chr(n)

'A'

In [56]:
ch='s'
len(ch)==1 and ('A'<=ch<='Z'or 'a'<= ch<='z')

True

In [57]:
ch='5'
len(ch)==1 and '0'<= ch <='9'

True

In [58]:
ch='@'
0<=ord(ch)<=47 or 58<= ord(ch)<=64 or 91<= ord(ch)<=96 or 123<=ord(ch)<=127

True

In [59]:
ch='U'
ch in 'aeiouAEIOU'

True

In [60]:
a=(10,20)
len(a)

2

In [64]:
a="how are you"
b=" hai"
a+= b
a

'how are you hai'

In [67]:
a='hi dude whatsup'
a[0:8]+"can i join with u"

'hi dude can i join with u'

In [68]:
print("hello world")

hello world

In [69]:
a=50 #initialize var and assign val 50
a

50

In [72]:
a=150,200,250 #initialize multi var values
a

(150, 200, 250)

In [74]:
a={10,20}
type(a)

set

In [79]:
a=345
id(a)

1998273441904

In [84]:
a={'name':'Dilip Reddy','age':21,'phno':6302384771,'email id':'kdilipreddy12@gmail.com'}
a['name']

'Dilip Reddy'

In [91]:
s=10
list(str(s))

['1', '0']