In [4]:
#Addition of 2 numbers
n1=int(input("enter 1st number:"))
n2=int(input("enter 2nd number:"))
n3=n1+n2
print(n3)

46

In [5]:
n=input("enter 1st word:")
m=input("enter 2nd word")
o=n+m
[print(o)]

pyspiders

[None]

In [6]:
l='vamsi'
l[4::-1]

'ismav'

In [7]:
n=int(input("enter a year"))
if n%4==0:
    print("it is a leap year")
else:
    print("not a leap year")

it is a leap year

In [8]:
l1=[1,2,4,3,8,7,6,8]
has_dup=False
for i in range(len(l1)):
    for j in range(i+1,len(l1)):
        if l1[i]==l1[j]:
            has_dup=True
            break
print(has_dup)

True

In [9]:
l="vamsi"
l[0:3]

'vam'

In [10]:
l=[1,2,3,4]
l+='pyspiders'
l

[1, 2, 3, 4, 'p', 'y', 's', 'p', 'i', 'd', 'e', 'r', 's']

In [13]:
n=78
print(n%2==0 and n>=40 and n<=70)

False

In [4]:
word=input("enter a word:")
all_caps = all(char.islower() for char in word)

print(all_caps)

False

In [2]:
y=['a','b']#concat new value at ending
y+=['c','d']
y

['a', 'b', 'c', 'd']

In [3]:
t=[10,20,30]#adding new value at specific position
t[4:4]=[40,50]
t

[10, 20, 30, 40, 50]

In [12]:
t=[10,20,30,40] #adding new val at middle
t[len(t)//2]=['a','b']
t

[10, 20, ['a', 'b'], 40]

In [16]:
d={'a':120}#adding new key and value
d['b']=340

{'a': 120, 'b': 340}

In [18]:
d={'a':12,'b':15,'c':17,}
del d['b']#deletion of dict
d

{'a': 12, 'c': 17}

In [20]:
x={10:12,15:17,19:21}#modification of dict
x[10]=14
x

{10: 14, 15: 17, 19: 21}

In [27]:
l=[10,23,34,45,89]#type casting list and tuple
t=(1,2,3,4,5)
s=tuple(l)+t 
s

(10, 23, 34, 45, 89, 1, 2, 3, 4, 5)

In [28]:
n=34 #number should divisible by 3
print(n%3==0)

False

In [29]:
n=23 #number should divisible by 2 and 6
print(n%2==0 and n%6==0)

False

In [30]:
m=29#last digit divisible by 3
((m%10)%3)==0

True

In [31]:
n=2024
(int(str(n)[-1]))%3==0

False

In [32]:
n=120
print(n>150)

False

In [33]:
n=169
print(n>=100)

True

In [34]:
n=67
print(n>15 and n<24)

False

In [35]:
n=78#even program
n%2==0

True

In [36]:
n=23
n%2==1

True

In [38]:
n=345
n%3==0 and n>22

True

In [41]:
s='Apple'#to check ascii value of a str and should divisible by 5 or not
ord(s[-1])
print(ord(s[-1])%5==0)

False

In [46]:
n=129
print((60<=n<=130)and n%3==0 and n%4==0 and n%10>9)

False

In [54]:
n=128
print(60<=n<=130) and n%3==0 and n%4==0 and n%10<9

True

In [55]:
n=65
chr(n)

'A'

In [56]:
ch='s'
len(ch)==1 and ('A'<=ch<='Z'or 'a'<= ch<='z')

True

In [57]:
ch='5'
len(ch)==1 and '0'<= ch <='9'

True

In [58]:
ch='@'
0<=ord(ch)<=47 or 58<= ord(ch)<=64 or 91<= ord(ch)<=96 or 123<=ord(ch)<=127

True

In [59]:
ch='U'
ch in 'aeiouAEIOU'

True

In [60]:
a=(10,20)
len(a)

2

In [64]:
a="how are you"
b=" hai"
a+= b
a

'how are you hai'

In [67]:
a='hi dude whatsup'
a[0:8]+"can i join with u"

'hi dude can i join with u'

In [68]:
print("hello world")

hello world

In [69]:
a=50 #initialize var and assign val 50
a

50

In [72]:
a=150,200,250 #initialize multi var values
a

(150, 200, 250)

In [74]:
a={10,20}
type(a)

set

In [79]:
a=345
id(a)

1998273441904

In [84]:
a={'name':'Dilip Reddy','age':21,'phno':6302384771,'email id':'kdilipreddy12@gmail.com'}
a['name']

'Dilip Reddy'

In [91]:
s=10
list(str(s))

['1', '0']

In [2]:
#4/8/2023
#upper to lower case
ch='A'
chr(ord(ch)+32) #logic


#using builtin func
ch='A'
ch.lower()

'a'

In [3]:
#lower to uppercase
ch='a'
chr(ord(ch)-32)

'A'

In [5]:
#to extract prev char
ch='B'
chr(ord(ch)-1)

'A'

In [6]:
#print nxt char
ch='A'
chr(ord(ch)+1)

'B'

In [7]:
#char--> ascii val and val is even and as well as lower
ch='d'
len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<='z'

True

In [12]:
#char--> ascii val and val is even and as well as upper
ch='A'
len(ch)==1 and ord(ch)%2==1 and 'A'<=ch<='Z'

True

In [13]:
#num --> char and it should be not a special char
n=58
'A'<= chr(n)<='Z' or 'a'<=chr(n)<='z'or'0'<=chr(n)<='9'

False

In [14]:
#number --> ascii value and should be vowel or not
n=65
chr(n) in 'aeiouAEIOU'

True

In [17]:
#1st and 2nd char in a str are sequence or not
st='ABCD'
ord(st[0])+1==ord(st[1])

True

In [18]:
#char --> ascii val and it should be > 50 or > 25 or < 112
n='O'
ord(ch)>25 or ord(ch)<112

True

In [20]:
#wea to check the given int is present in the collection
n=100
coll=[10,20,30,40]
n in coll

False

In [22]:
#perform addition operation on 'a' val and 'b' val and final result should be updated to 'a'
a=23
b=34
a+=b
a

57

In [23]:
#val in coll
st='P'
coll='PYSPIDERS'
st in coll

True

In [27]:
st=[10,'hai']
coll=[[10,'hai'],(10,20),{10:20}]
st in coll

True

In [29]:
st=10
coll=[10,'hai',(10,20),{10:20}]
st in coll

True

In [32]:
st='a'
coll={'a':10,'b':20,'c':30}
st in coll

True

In [34]:
c=b'1010'
type(c) in [int,float,complex,bool,bytes,type(None)]

True

In [1]:
#mutable
c=[10,20]
type(c) in [list,set,dict]

True

In [2]:
#immutable
c=('a','b')
type(c) not in [list,set,dict]

True

In [3]:
n=10
coll=[10,20,30,40]
n%6==0 and n in coll

False

In [7]:
#bitwise and operation
m=15
n=19
m&=n#compound assignment 
m&n#normal operation

3

In [10]:
#bitwise or operator
m=115
n=79
m|=n
m

127

In [11]:
#bitwise xor operator
m=56
n=22
m^=n
m

46

In [12]:
#not operator
m=15
~m #-(n+1) we can use this formula also

-16

In [13]:
#bitwise left shift
32<<3 #we can use the formula ie., n*(2**s)

256

In [14]:
#bitwise right shift
25>>2 #here we can use the formula ie., n//(2**s)

6

In [15]:
(10+20*80 and 10**3) or ({10,20 }or not([15-16]))

1000

In [18]:
#key in dict
d={'a':10,'hai':'bye',(100,):(10,20)}
k='a'
k in d.keys()

True

In [20]:
#value in dict
d={'a':10,'hai':'bye',(100,):(10,20)}
k=10
k in d.values()

True

In [22]:
#key value pair
d={'a':10,'hai':'bye',(100,):(10,20)}
k=('a',10)
k in d.items()

True

In [29]:
a=15 # 2 values pointing tpo same memory address
b=15
a is b

True

In [28]:
#checking type of value 
a=256
b=256
type(a)==int and type(b)==int and a is b

True

In [31]:
s={1,2,3,4,5,6,89}
s-={3,4,89}
s

{1, 2, 5, 6}

In [33]:
#conversion of temp celsius to fahrenheit
c=32
f=(c*9/5)+32
f

89.6

In [35]:
#conversion of temp fahrenheit to celsius
f=107
c=(f-32)*5/9
c

41.666666666666664

In [37]:
amount=int(input("enter an amount:"))
dollar=amount/80
print(dollar)

1250.95

In [53]:
#real time example
pizza_cost=326.50
order_count=3
total_cost=pizza_cost*order_count
discount=total_cost*(0.20)
actual_cost=total_cost-discount
print(total_cost)
print(discount)
print(actual_cost)

979.5
195.9
783.6

In [52]:
#real time example
monthly_sal=30000
pf_reduction=monthly_sal*0.12
tax_reduction=monthly_sal*0.08
total_monthly_sal=monthly_sal-(pf_reduction+tax_reduction)
print(total_monthly_sal)

24000.0

In [7]:
loan_amt=500000
no_of_yrs=4
intrest=0.114
emi=loan_amt*intrest/12
total_interest=emi*12
four_yrs_emi=total_interest*4
payment=total_amount
total_payment=loan_amt+four_yrs_emi
print(emi)#per month
print(total_interest)#per year
print(four_yrs_emi)#for 4 yrs
print(total_payment)

4750.0
57000.0
228000.0
728000.0

In [8]:
#swapping of 2 num using 3rd var
x='hai'
y='bye'
temp=x
x=y
y=temp
print(x)
print(y)

bye
hai

In [10]:
#without using 3rd var
x='hello'
y='world'
x,y=y,x
print(x)
print(y)

world
hello

In [12]:
m='jspiders'#initialization of var
m='pyspiders'#reinitialization of var
m

'pyspiders'

In [14]:
del m #del of var
m

NameError: name 'm' is not defined

In [18]:
#concat multi val datatype
x='hello'
y=' world'
x+=y
x

'hello world'

In [22]:
s='hi how r u'
p=len(s)
p

10

In [26]:
#to find middle val in a coll
d=[10,20,30,40,78]
s=d[len(d)//2]
s

30

In [28]:
#to concat new val at starting of a str
a=' how r u'
b='im fine'
b+a

'im fine how r u'

In [31]:
#to concat new val at ending of a str
a=[1,2,34,56,90]
b=['a','b','g','h']
a+=b
a

[1, 2, 34, 56, 90, 'a', 'b', 'g', 'h']

In [42]:
#concat new str at middle position
a='welcome to python world'
b=a[0:11]+'coding '+a[11:]
b

'welcome to coding python world'

In [49]:
#modify new char in middle of the str
a='Pyspiders'
a[len(a)//2]
a[0:len(a)//2]+'I'+a[(len(a)//2)+1:]

'PyspIders'

In [53]:
#modify sequence of char in a str
s='jspiders'
'PYSPI'+s[4:]

'PYSPIders'

In [58]:
#delete specific char in a str
s='jspiders'
s[0:4]+s[5:]

'jspiers'

In [61]:
#concat new str at specific position
a='hi how r u'
a[0:3]+'python '+a[3:]

'hi python how r u'

In [67]:
#del seq of char in a str
s='hi python how r u nice to meet u'
s[0:9]+s[17:]

'hi python nice to meet u'

In [71]:
#concat new val at starting of the list
l1=[1,2,3]
l1[0:0]=['abcd']
l1

['abcd', 1, 2, 3]

In [73]:
#concat new val at ending of the list
l1=[1,2,3,5]
l1[4:4]=['python']
l1

[1, 2, 3, 5, 'python']

In [77]:
#concat new val at middle of the list
l=[10,23,34.89,8+4j,True,'haii']
l[len(l)//2]=('a','b')
l

[10, 23, 34.89, ('a', 'b'), True, 'haii']

In [82]:
#concat new val at specific position
l=[10,23,34.89,8+4j,True,'haii']
l[2:2]={23,34}
l

[10, 23, 34, 23, 34.89, (8+4j), True, 'haii']

In [84]:
#modify val at starting of the list
l=[10,15.12,True,'haii']
l[0]=(1,2)
l

[(1, 2), 15.12, True, 'haii']

In [3]:
ch='AVByc'  #to check 1st,middle and last char are in sequence or not
ord(ch[0])+2 <= ord(ch[2])+1 <= ord(ch[-1])

True

In [11]:
s=12345  #extract last and starting 2nd digit of a number and add them both and check whether they are odd
a=s%10
b=s//1000
c=b%10
d=a+c
e=d%2==1
e

True

In [2]:
#([5*2,2**2]or ('str'<'Pys')) and 
({10,20}and 'str')

'str'

In [5]:
l1=[10,20,'a',23.45]
t=()
if type(l1) in [list,tuple,set,dict,str]:
    t+=tuple(l1)
    print(t)

(10, 20, 'a', 23.45)

In [17]:
l1=[10,20,'a',23.45,[10,20]]#shallow copy
l2=l1.copy()
l2
l1[0]=100
l1[4][0]='d'
print(l1)
print(l2)

[100, 20, 'a', 23.45, ['d', 20]]
[10, 20, 'a', 23.45, ['d', 20]]

In [14]:
s=[10,20,'a',23.45,[10,20]]#deep_copy
t=Copy.deepcopy(s)

NameError: name 'Copy' is not defined